.card_form {
  margin: 0 auto;
}

.card-form__text-area {
  height: 100px !important  ;
}

.tweet-container {
  border: 1px solid #ccc;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-container__name {
  position: absolute;
  color: black;
  font-weight: bold;
  top: -15px;
  left: 10px;
  background-color: white;
  padding: 0 10px;
}

.tweet-container__tweet,
.tweet-container__date {
  color: #948f8f;
}

.tweet-container__tweet {
  margin: 0;
}

.tweet-container__date {
  background-color: white;
  padding: 0px 25px;
  position: absolute;
  right: 10px;
  bottom: -10px;
  border: 1px solid #c2bdbd;
  font-size: 11px;
  font-weight: 700;
}

.x-circle-tweet {
  height: 20px;
  margin: 0;
}

.x-circle-tweet:hover {
  color: red;
  cursor: pointer;
}
